<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCommentServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.EditCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessageServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.sendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCommentServlet</servlet-name>
        <url-pattern>/EditCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessageServlet</servlet-name>
        <url-pattern>/sendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/NewPasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
