
.primary-background{
    background: black;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: black;
    border-color: black;
}

.btn-outline-primary {
    color: black;
    background-color: #40b5f5;
    background-image: none;
    border-color: #40b5f5;
}

.btn-outline-success {
    color: white;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}



